<h1>Listing attendance_lists</h1>

<table>
  <tr>
    <th>Talk</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendance_lists.each do |attendance_list| %>
  <tr>
    <td><%= attendance_list.talk_id %></td>
    <td><%= attendance_list.user_id %></td>
    <td><%= link_to 'Show', attendance_list %></td>
    <td><%= link_to 'Edit', edit_attendance_list_path(attendance_list) %></td>
    <td><%= link_to 'Destroy', attendance_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance list', new_attendance_list_path %>
