<% provide(:title, "Schedule") %>

<h1>List of Talks</h1>

<table class="table table-striped">
<thead>
  <tr>
	<th>Meeting date</th>
    <th>Speaker</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @talks.each do |talk| %>
  <tr>
    <td><%= talk.meetingdate %></td>
    <td><%= talk.name %></td>
    <td><%= talk.title %></td>
    <td>
       <%= link_to t('.show', :default => t("helpers.links.show")),
            talk_path(talk), :class => 'btn btn-primary' %>
    </td>

  <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_talk_path(talk) %></td>
    <td><%= link_to 'Destroy', talk, confirm: 'Are you sure?', method: :delete %></td>
  <% else %>
    <td/>
    <td/>
  <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% if current_user.admin? %>
<%=link_to t('.new', :default => t("helpers.links.new")),
            new_talk_path,
            :class => 'btn btn-primary' %>
<% end %>
