<p id="notice"><%= notice %></p>

<%= render 'attend_form' if signed_in? %>

<p>
  <b>Name:</b>
  <%= @talk.name %>
</p>

<p>
  <b>Title:</b>
  <%= @talk.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @talk.desc %>
</p>

<p>
  <b>Url:</b>
  <%= @talk.url %>
</p>

<p>
  <b>Meetingdate:</b>
  <%= @talk.meetingdate %>
</p>

<p>
	<b>Attendees</b>
	<ul>
	<% @talk.attendance_lists.each do |user| %>

	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
